@model Live_com.Models.User
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<input id="Text1" type="text" />
</br>
</br>
<input id="Text2" type="text" />

@using (Html.BeginForm("Click", "Auhtorization", FormMethod.Post))
{ 
     <button type="submit" value="select"></button>
}
